@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

// BG
$main-bg: #12bca2;
$secondary-bg: #6d15df;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;

//Font
$poppins: 'Poppins';