@import '../../globals/globals.scss';

.navbar{
    color: white;
    display: flex;
    align-items: center;
    font-family: $poppins;
    height: 50px;
    margin-bottom:10px;


    .title{
        margin-left: 20px;
    }

    .links{
        display: flex;
        width: 250px;
        justify-content: space-between;
    }
}